.header {
  border: solid 1px red;
  padding: 5px;
  margin: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav li {
  list-style-type: none;
}

.page {
  border: solid 1px #ccc;
  padding: 5px;
  margin: 10px;
}

.footer {
  border: solid 1px #ccc;
  padding: 5px;
  margin: 10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .block {
  border: solid 1px #ccc;
  padding: 5px;
  flex-basis: 23%;
  flex-grow: 1;
}
